<tr
  class="table-{{ color }}"
  onclick="document.location ='{% url 'section' section.fullcode %}';"
  style="cursor: pointer;"
>
    <th class="col-1"><b>{{ section.fullcode }}</b></th>
{#    <a href="{% url 'section' section.fullcode %}">#}
        <th class="col">
            <b>{{ section.label }}</b>
        </th>
{#    </a>#}
    <td class="col-1 text-center">
        {% if section.immediates %}
            <div class="badge bg-dark rounded-pill">{{ section.immediates.count }}</div>
        {% endif %}
    </td>
</tr>